<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        window.onload = function () {
        
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            exportEnabled: true,
            title:{
                text: "Gold Medals Won in Olympics"             
            }, 
            axisY:{
                title: "Number of Medals"
            },
            toolTip: {
                shared: true
            },
            legend:{
                cursor:"pointer",
                itemclick: toggleDataSeries
            },
            
            data: [{        
                type: "spline",  
                name: "종로구",        
                showInLegend: true,
                dataPoints: [
                    { label: "2021.02~06" , y: 44 },     
                    { label:"2021.07", y: 37 },     
                    { label: "2021.08", y: 36 },     
                    { label: "2021.09", y: 36 },     
                    { label: "2021.10", y: 46 },
                ]
            }, 
            {        
                type: "spline",
                name: "China",        
                showInLegend: true,
                dataPoints: [
                    { label: "Atlanta 1996" , y: 16 },     
                    { label:"Sydney 2000", y: 28 },     
                    { label: "Athens 2004", y: 32 },     
                    { label: "Beijing 2008", y: 48 },     
                    { label: "London 2012", y: 38 },
                ]
            },
            {        
                type: "spline",  
                name: "Britain",        
                showInLegend: true,
                dataPoints: [
                    { label: "Atlanta 1996" , y: 1 },     
                    { label:"Sydney 2000", y: 11 },     
                    { label: "Athens 2004", y: 9 },     
                    { label: "Beijing 2008", y: 19 },     
                    { label: "London 2012", y: 29 },
                ]
            },
            {        
                type: "spline",  
                name: "Russia",        
                showInLegend: true,
                dataPoints: [
                    { label: "Atlanta 1996" , y: 26 },     
                    { label:"Sydney 2000", y: 32 },     
                    { label: "Athens 2004", y: 28 },     
                    { label: "Beijing 2008", y: 22 },     
                    { label: "London 2012", y: 20 },
                ]
            },
            {        
                type: "spline",  
                name: "S Korea",        
                showInLegend: true,
                dataPoints: [
                    { label: "Atlanta 1996" , y: 7 },     
                    { label:"Sydney 2000", y: 8 },     
                    { label: "Athens 2004", y: 9 },     
                    { label: "Beijing 2008", y: 13 },     
                    { label: "London 2012", y: 13 },
                ]
            },  
            {        
                type: "spline",  
                name: "Germany",        
                showInLegend: true,
                dataPoints: [
                    { label: "Atlanta 1996" , y: 20 },     
                    { label:"Sydney 2000", y: 13 },     
                    { label: "Athens 2004", y: 13 },     
                    { label: "Beijing 2008", y: 16 },     
                    { label: "London 2012", y: 11 },
                ]
            }]
        });
        
        chart.render();
        
        function toggleDataSeries(e) {
            if(typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            }
            else {
                e.dataSeries.visible = true;            
            }
            chart.render();
        }
        
        }
        </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <h1>차트보여주기</h1>
    {% if chart %}
        {% for t in chart %}
        <ul>
            <td>자치구:{{t.location}}</td>
            <td>2-6월:{{t.month}}</td>
            <td>7월:{{t.month7}}</td>
            <td>8월:{{t.month8}}</td>
            <td>9월:{{t.month9}}</td>
            <td>10월:{{t.month10}}</td>
        </ul>
        {% endfor %}
    
    {% endif %}

    
</body>
</html>