<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container"></div>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        height.chart('container',{
            chart:{
                type:'column'
            },
            title:{
                text:"서울시 구별 백신 접종 현황"
            },
            xAxis:{
                categories:{{chart}}
            }
        })
    </script>

</body>
</html>